* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #282c3410;
}

.App-header {
  background-color: #282c34;
  border-radius: 10px;
  height: 50vh;
  width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1.5vmin);
  color: white;
}

.App-input {
  display: flex;
  flex-direction: column;
}

.input {
  width: 21rem;
  padding: 5px;
  border-radius: 6px;
  border: none;
  outline: none;
  margin: 4px 0;
}

.adminPage {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

.text {
  font-size: 3rem;
}
